# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
/android/
/ios/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# SQLite databases & temp files
*.db
*.db-journal
*.db-shm
*.db-wal
DataBase/data.db
DataBase/test_backup_unencrypted.db
DataBase/test_import.csv
DataBase/test_import.json
DataBase/Settings.xml

# EAS configuration & local credentials
.eas/
credentials.json
/DataBase/keys/

# log files
*.log
yarn-error.log
npm-debug.log

